<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Session</title>
</head>
<body>
<h1>Create New Session</h1>
<form method="POST" action="/store/session/create/">
    <select name="resource_id">
        {% for resource in resources %}
        <option value="{{resource.id}}">{{resource.name}}</option>
        {% endfor %}
    </select>
    <p>
        <label>Start Time</label>
        <input name="start_time" type="text" placeholder="YYYY-MM-DD hh:mm:ss">
    </p>
    <p>
        <label>End Time</label>
        <input name="end_time" type="text" placeholder="YYYY-MM-DD hh:mm:ss">
    </p>
    <p>
        <label>Slot Duration</label>
        <input name="slot_duration" type="text" placeholder="">
    </p>
    <p>
        <label>Slot Duration Unit</label>
        <select name="slot_duration_unit">
            {% for slot_duration_unit_key, slot_duration_unit_value in slot_duration_unit_choices.items %}
            <option value="{{slot_duration_unit_value}}">{{slot_duration_unit_key}}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label>Slot Price</label>
        <input name="slot_price" type="text" placeholder="">
    </p>
    <button type="submit">Submit</button>
</form>
</body>
</html>