<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slots</title>

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
    $(document).ready(function() {
       $.ajax({ url: "/store/session/"+{{session_id}}+"/slot/",
       dataType:'json',
        success: function(slots){
           $.each(slots, function(index, slot){
                slots_ul = $('#slots-ul');
                var div = $('<div>');
                var span = $('<span>');
                span.html("Slot "+ new Date(slot['start_time']*1000) + "; Status: "+ slot['status'])
                var anchor = $('<a>');
                anchor.html("<button>BOOK</button>");
                anchor.attr('href', '/store/session/'+ slot["session_id"]+ '/slot/'+slot['id']+'/book/');
                div.append(span);
                div.append(anchor);
                var li = $('<li>');
                li.append(div);
                slots_ul.append(li);
           });
        }});
    });






    </script>
</head>
<body>
<ul id="slots-ul">
</ul>
</body>
</html>